:root {
  --primary-color: #a5222b   ; /* a5222b# */
  --secondary-color: #05668D ;
  --accent1-color: #ECE8EF;
  --accent2-color: #FFE156;
  --paragraph-background-color: #ECE8EF;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: var(--paragraph-background-color);
}

nav a:hover {
background-color: var(--primary-color);
}

#hero-msg h1 {
    text-align: center;
    color: var(--accent1-color);
}

#hero-msg h2 {
    text-align: center;
    color: var(--accent1-color);

}

.button-box {
    text-align: center;
    background-color: var(--primary-color);
}

.home-title h4 {
    color: var(--primary-color);
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: var(--paragraph-background-color);

}

body {
background-color: var(--paragraph-background-color);
}

header {
background-color: var(--secondary-color);
}

.book, .join {
background-color: var(--secondary-color);
color: var(--accent1-color);
}

.book:hover, .join:hover {
background-color: var(--primary-color);
color: var(--accent1-color)
}

.msg {
background-color: var(--paragraph-background-color);
}

.msg h2 {
    color: var(--secondary-color)
}

.msg p {
    color: var(--secondary-color)

}

footer {
background-color: var(--paragraph-background-color);
}

footer a {
    color: var(--secondary-color)
}

footer a:hover {
    color: var(--primary-color);
}
