:root {
  --hover-back-color: #a5222b   ; /* a5222b# */
  --box-background-color: #05668D ;
  --white-color: #ECE8EF;
  --text-background-color: #FFE156;
  --hover-text-color: #ECE8EF;

}

body {
background-color: var(--white-color);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
background-color: var(--box-background-color);
}

nav a {
    text-align: center;
    color: var(--text-background-color);
    text-decoration: none;
}

nav a:hover {
background-color: var(--hover-back-color);
color: var(--hover-text-color);
}
#hero-img {
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
    color: var(--text-background-color);
}

#hero-msg h2 {
    text-align: center;
    color: var(--text-background-color);

}

.home-title h1 {
    color: var(--hover-back-color);
}

.button-box {
    text-align: center;
    background-color: var(--box-background-color);
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: var(--box-background-color);
}

.community, .join {
background-color: var(--box-background-color);
color: var(--text-background-color);
text-decoration: none;
}

.community:hover, .join:hover {
background-color: var(--hover-back-color);
color: var(--hover-text-color)
}

.msg {
background-color: var(--hover-text-color);
}

.msg h2 {
    color: var(--box-background-color)
}

.msg p {
    color: var(--box-background-color)

}

footer {
background-color: var(--box-background-color);
color: var(--text-background-color);
}

footer a {
    color: var(--text-background-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--white-color);
    background-color: var(--hover-back-color);
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

