:root {
  --red: #a5222b   ;
  --blue: #05668D ;
  --yellow: #FFE156;
  --white: #ECE8EF;

}

body {
background-color: var(--white);
margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0;
}

header {
background-color: rgba(5,102,141,0.6);
display: grid;
grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
}

nav a {
    text-align: center;
    color: var(--yellow);
    text-decoration: none;
}

nav a:hover {
background-color: var(--red);
color: var(--yellow);
}

#hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/6;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;

}

#hero-msg {
    text-align: center;
    color: var(--yellow);
    grid-area: 1 / 2 / 2 / 5;
    margin-top: 100px;
}

#hero-msg h1 {
    font-size: 1.75em;
    margin: 3px 0 0 0;
}

#hero-msg h2 {
    font-size: 1em;
    margin: 0 auto;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

.card-img {
    width: 100%;
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
} 

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    box-shadow: 5px 5px 10px #004f6e;
    grid-column: 2/7;
    grid-row: 5/8;

}

.rivers-card {
    grid-area: 2 / 2 / 3 / 4;
    margin-bottom: 20px;
}

.camping-card {
    grid-area: 2 / 5 / 3 / 7;
}

.rapids-card {
    grid-area: 2 / 8 / 3 / 10;
}

.home-title h1 {
    color: var(--red);
}

.button-box {
    text-align: center;
    background-color: var(--blue);
    text-decoration: none;
    color: var(--yellow)
}

main section {
    text-align: center;
}

main h2 {
    margin: 0 auto;
}

#background {
    height: 500px;
    background-color: var(--blue);
    grid-area: 4 / 1 / 9 / 11;
}

.community, .join {
background-color: var(--blue);
color: var(--white);
text-decoration: none;
}

.join:hover {
background-color: var(--red);
color: var(--white)
}

.community {
background-color: var(--white);
padding: 35px;
grid-area: 6 / 6 / 7 / 10;
box-shadow: 5px 5px 10px #152f39;

}

.community h2 {
    color: var(--blue)
}

.community p {
    color: var(--blue)

}

footer {
background-color: var(--blue);
color: var(--yellow);
padding: 25px 50px;
margin-top: 200px;
display: flex;
justify-content: space-around;
align-items: center;
}

footer a {
    color: var(--yellow);
    text-decoration: none;
}

footer a:hover {
    color: var(--white);
    background-color: var(--red);
}

.logo {
    width: 80px;

}

.icon {
    width: 50px;
    margin: 0;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            