
/* cool styling */
body {

    height:fit-content;
    border: 5px darkblue;
    margin: 0;
    background-image: url("/images/background.webp");
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    padding: 25px 25px 25px 25px;
    text-align: center;
    
}

.shaded {
    background-color: gray;
}