* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
    font-size: 100%;


}

header {
    text-align: center;
    background-color: #444955;
    padding: 1em; /* around 16px */

}

header > nav {
    display: flex;
    justify-content: center;
    gap: 2em;

}

header > nav > a {
    color: white;
    text-decoration: none;
}

header > img {
    border-radius: 50%;
    margin: 1em auto;
}

#image-scroller {
    position: relative;
}

#image-scroller h1 {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

#image-scroller p {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 0em;
}

#prod-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 2em;

}

.product h2{
    font-size: 1em;
}

.product p {
    font-size: 0.8em;
}

.product img {
    border-radius: 10%;
    box-shadow: 1px 1px 5px;
    margin-bottom: 0.7em;
}

footer {
    background-color: #444955;
    color: white;
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 1em;

}

footer .social-media {
    display: flex;
    
}