/* Add your CSS here to style your valentines day page */
* {
    margin: o auto;
}

body {
    margin: 0;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255,0,0,0.5);
    margin: 0;
    padding: 1em;
    color: white;
    font-size: 1em;
}

main {
    margin-top: -50px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
}

img {
    grid-column: 1/7;
    grid-row: 1/5;
    width: 100%;
    z-index: -1;
}

h1 {
    grid-column: 3/5;
    grid-row: 1/2;
    z-index: 0;
    font-size: 5em;
    text-align: center;
    color: white;
    text-shadow: 2px  1px 1px red;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    --c: red;
    width: 80%;
    aspect-ratio: 1;
    background:
    /* 1 */ radial-gradient(circle at 60% 65%,var(--c) 64%,#0000 65%) top left/50% 50%,
    /* 2 */ radial-gradient(circle at 40% 65%,var(--c) 64%,#0000 65%) top right/50% 50%,
    /* 3 */ conic-gradient(from -45deg at 50% 85.5%,var(--c) 90deg,#0000 0) bottom/100% 50%;
    background-repeat: no-repeat;
    text-align: center;
    justify-self: center;
}

h2, p {
    position: absolute;
    transition: opacity 0.3s ease;
}

#love {
    grid-column: 1/3;
    grid-row: 1/3;
    align-self: center;
}

#hearts {
    grid-column: 2/4;
    grid-row: 3/5;
    align-self: center;
}

#cupid {
    grid-column: 5/7;
    grid-row: 2/4;
    align-self: center;
}

h2 {
    justify-self: center;
    align-self: center;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px pink;
    font-size: 5em;
    top: 25%;

}

section:hover h2 {
    opacity: 0;
}

p {
    opacity: 0;
    width: 75%;
    top: 15%;
    color: white;
}

section:hover p {
    opacity: 1;
}

footer {
    margin-top: -25px;
    color: white;
    text-shadow: 1px 1px 1px pink;
}
