* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #999999;

}

img {
    max-width: 100%;

}

nav {
    border: 3px solid #403d3d;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    background-color: rgb(121, 0, 0);
    padding: 2em;

}

nav a {
    text-decoration: none;
    color:rgb(255, 230, 0);
}

main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    justify-items: center;
    padding: 1em 0em 1em 0em;
}

section#blue {
    background-color: lightblue;
    grid-area: 1/1/3/3;
}

section#red {
    background-color: lightcoral;
    grid-column: 1/3/2/4;
}
section#green {
    background-color: greenyellow;
    grid-area: 2/3/3/4;
}

section#about {
    grid-column: 1/4;
}