* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #999999;

}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    align-items: center;
}

#logo {
    width: 100px;
}

nav h1 {
    grid-column: 2/3;
    font-size: 300%;
    color: white;
}

ul {
    grid-column: 3/4;
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}

.herobox {
    display: grid;
    grid-template-columns: 6fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    height: fit-content;
}

#heroimg {
    width: 100%;
    z-index: 0;
    grid-area: 1/1/4/4;
    object-fit: cover;
}

#aboutbox {
    grid-area: 2/1/3/2;
    z-index: 1;
    margin: 5% 2% 2% 2%;

}

#aboutbox p {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 150%;
}

#portrait {
    width: 100%;
    grid-area: 2/2/3/3;
    z-index: 1;
    border: solid 2px white;
    box-shadow: 1px 1px 2px #000;

}

.herobox h2 {
    grid-area: 3/1/4/2;
    z-index: 1;
    font-size: 300%;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 3%;
    align-self: center;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 40px auto;
    overflow: hidden;
}

.carousel-viewport {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    display: block;
}

.carousel img {
    width: 100%;
    display: block;
}